body {
    font-family: "Poppins", sans-serif;
    background:  rgb(0, 21, 38);
}

.container {
    max-width: 1400px;
    margin: 0 auto;
}

section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 100px 0;
}

.grid {
    display: grid;
    grid-gap: 64px;
}

.grid-2-columns {
    grid-template-columns: 1fr 1fr;
}

.grid-3-columns-with-first-narrow {
    grid-template-columns: 1fr 2fr 2fr;
}

/*HEADER*/

header {
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.3)), url("../images/libro-fondo.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white; 
    text-align: center;
    padding: 200px 0;
}

header h1 {
    font-size: 96px;
    font-weight: 700px;
    line-height: 1;
    margin: 0;
}

header h2 {
    font-size: 40px;
    font-weight: 400px;
    line-height: 1.5;
    margin: 0;
}

header h3 {
    font-size: 24px;
    font-weight: 900px;
    line-height: 1.5;
    letter-spacing: 5px;
    margin: 0;
}

header a {
    font-size: 14px;
    font-weight: 700px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    margin-top: 32px;
    background: white;
    text-decoration: none;
    color: #272044;
    padding: 16px 32px;
    display: inline-block;
}

/*WHY BOOKS SECTION*/
img {
    width: 550px;
    height: 400px;
}

.image-responsive {
    max-width: 100%;
}

main {
    background-color: white;
}

main h3 {
    font-weight: 700;
    font-size: 40px;
    line-height: 24px;
    color: #272044;
}

main p {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #272044;
    opacity: 0.7;
}

/*FOOTER*/
footer {
    color: white;
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("../images/libro.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 150%;
}

footer h3 {
    font-size: 20px;
    font-weight: 700px;
    line-height: 30px;
}

footer p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 0.9;
}

footer li {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul {
    padding: 0;
}

footer a {
    color: white;
    opacity: 0.7;
}

@media (max-width: 960px) {
    header {
        padding: 60px 0;
    }
    header h1 {
        font-size: 48px;
        line-height: 30px;
    }
    header h2 {
        font-size: 20px;
    }
    header h3 {
        font-size: 12px;
        letter-spacing: 2px;
    }
    .grid {
        grid-template-columns: 1fr;
        grid-gap: 32px;
    }
    section {
        padding: 30px;
    }
}